@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.color-green {
  color: rgb(8, 159, 109);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
